<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-2.5.xsd">
    <!--        <bean class="org.example.Bike" id = "vehicle">-->
    <!--        </bean>-->
    <bean id="p1" class="org.example.Point">

       <property name="x" value="2"/>
        <property name="y" value="3"></property>
    </bean>
    <bean id="p2" class="org.example.Point">
        <property name="x" value="4"></property>
        <property name="y" value="5"></property>
    </bean>
    <bean id="p3" class="org.example.Point">
        <property name="x" value="3"></property>
        <property name="y" value="4"></property>
    </bean>
    <bean id="tri" class="org.example.Triangle">
    <property name="pointA" ref="p1"/>
        <property name="pointB" ref="p2"/>
        <property name="pointC" ref="p3"/>
    </bean>

    <bean id="cir" class="org.example.Circle">
        <property name="radius" value="2.5"/>
        <property name="centre" ref="p1"/>
    </bean>

    <bean id="shape" class="org.example.Shape">
        <property name="c" ref="cir"/>
        <property name="t" ref="tri"/>

    </bean>

    <!-- <context:component-scan base-package="org.example"></context:component-scan>-->
</beans>